.poster-container {
    width: 876px;
    min-height: 578px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: -10px -10px 20px rgba(202, 202, 202, 0.25), 10px 10px 20px rgba(202, 202, 202, 0.25);
    border-radius: 10px;
}

.poster {
	position: relative;
}

.browser-back-container,.browser-stack-container {
    position: relative;
}

.mask {
	position: absolute;
    object-fit: cover;
    overflow: hidden;
}

.browser-mask {
    width: 355px;
    height: 203px;
    top: 50px;
    left: 27px;
}


.sheet-mask {
    width: 508px;
    height: 223px;
    top: 148px;
    left: 27px;
}


.browser-front, .sheet-front {
    display: block;
    max-width: 100%;
}


.sheet-container {
	position: relative;
	left: 300px;
	top:109px;
	display: inline-block;
}

.arrow-container {
    position: absolute;
    top: 225px;
    left: 198px;
}

.google-sheets-brand {
    position: relative;
    bottom: 49px;
    width: 288px;
    right: -242px;
}

.google-sheets-brand img {
	width: 100%;
}


@media (max-width: 876px)  {

	.poster-container {
	    width: 584px;
	    min-height: 768px;
	}

	.browser-stack-container {
		left: 48px;
	}

	.sheet-container {
		left: 0;
		top: 300px;
	}

	.arrow-container {
    rotate: 77deg;
    left: 20px;
}
}

@media (max-width: 584px)  {

.poster-container {
    zoom:0.7;
}


@media (max-width: 350px)  {

.poster-container {
    zoom:0.5;
}

}